#gameBoard {
  border: 1px solid black;
  display: grid;
  grid-gap: 1px;
}

.case {
  width: 24px;
  height: 24px;
  background-color: azure;
  border: 1px solid black;
  text-align: center; /* Centrage horizontal */
  line-height: 24px; /* Centrage vertical, doit correspondre à la hauteur de la cellule */

}

@keyframes explosion {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.explode {
  animation: explosion 0.5s ease-out;
}

.case.revealed {
  background-color: lightgrey; /* ou une autre couleur pour indiquer une cellule révélée */
}
